/*
|--------------------------------------------------------------------------
| Autor name:  italobaciliere-edu
| Autor email: a226856106@fumec.edu.br
|--------------------------------------------------------------------------
|
|   Palheta de cores a serem utilizadas no layout
|   projeto.
| 
*/

/* Color Theme Swatches in Hex */
.WellBeings-CBD-Inhaler-1-hex { color: #F24B59; }
.WellBeings-CBD-Inhaler-2-hex { color: #3B3C40; }
.WellBeings-CBD-Inhaler-3-hex { color: #F2E6CE; }
.WellBeings-CBD-Inhaler-4-hex { color: #F2A999 }
.WellBeings-CBD-Inhaler-5-hex { color: #F27979 }

/* Color Theme Swatches in RGBA */
.WellBeings-CBD-Inhaler-1-rgba { color: rgba(242, 75, 89, 1); }
.WellBeings-CBD-Inhaler-2-rgba { color: rgba(58, 59, 63, 1); }
.WellBeings-CBD-Inhaler-3-rgba { color: rgba(242, 229, 205, 1); }
.WellBeings-CBD-Inhaler-4-rgba { color: rgba(242, 169, 152, 1); }
.WellBeings-CBD-Inhaler-5-rgba { color: rgba(242, 121, 121, 1); }

/* Color Theme Swatches in HSLA */
.WellBeings-CBD-Inhaler-1-hsla { color: hsla(354, 86, 62, 1); }
.WellBeings-CBD-Inhaler-2-hsla { color: hsla(225, 4, 24, 1); }
.WellBeings-CBD-Inhaler-3-hsla { color: hsla(39, 58, 87, 1); }
.WellBeings-CBD-Inhaler-4-hsla { color: hsla(11, 77, 77, 1); }
.WellBeings-CBD-Inhaler-5-hsla { color: hsla(0, 82, 71, 1); }
